{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{%static 'css/add.css'%}">
<div class="add-main">

    <form method="POST" class="post-form" action="{% url 'add' %}">
        {% csrf_token %}
        <div class="container-fluid">
            <br>
            <header class="add-hdr">Create new entry</header>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Accountable Person:</label>
                <div class="col-sm-4">
                    {{ form.inv_accountable}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Type:</label>
                <div class="col-sm-4">
                    {{ form.inv_type }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Quantity:</label>
                <div class="col-sm-4">
                    {{ form.inv_quantity }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Description:</label>
                <div class="col-sm-4">
                    {{ form.inv_description }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Property No:</label>
                <div class="col-sm-4 btn-link">
                    {{ form.inv_property }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Model No:</label>
                <div class="col-sm-4">
                    {{ form.inv_model }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Serial No:</label>
                <div class="col-sm-4">
                    {{ form.inv_serial }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Acquisition Date (mm/dd/yy):</label>
                <div class="col-sm-4">
                    {{ form.inv_acqDate }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Acquisition Cost:</label>
                <div class="col-sm-4">
                    {{ form.inv_acqCost }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Location:</label>
                <div class="col-sm-4">
                    {{ form.inv_loc }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Classification:</label>
                <div class="col-sm-4">
                    {{ form.inv_class }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Status:</label>
                <div class="col-sm-4">
                    {{ form.inv_status }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>

            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}