{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{%static 'css/view.css'%}">
<div class="main">

    <form class="form">
        <fieldset>
            <div class="form-row">
                <div class="left-col">
                    <label class="label" for="">Inventory Type</label>
                    <p class="details">{{ view.inv_type }}</p>
                    <label class="label" for="">Quantity</label>
                    <p class="details">{{ view.inv_quantity }}</p>
                    <label class="label" for="">Description</label>
                    <p class="details">{{ view.inv_description }}</p>
                    <label class="label" for="">Location</label>
                    <p class="details">{{ view.inv_loc }}</p>
                </div>
                <div class="right-col">
                    <label class="label" for="">Model No.</label>
                    <p class="details">{{ view.inv_model }}</p>
                    <label class="label" for="">Serial No.</label>
                    <p class="details">{{ view.inv_serial }}</p>
                    <label class="label" for="">Acquisition Date</label>
                    <p class="details">{{ view.inv_acqDate }}</p>
                    <label class="label" for="">Acquisition Cost</label>
                    <p class="details">Php {{ view.inv_acqCost|floatformat:0|intcomma  }}</p>
                    <label class="label" for="">Classification</label>
                    <p class="details" style="text-align: left;">{{ view.inv_class }}</p>
                </div>
            </div>
        </fieldset>

    </form>
    <div class="btn-set">
        <a href="{% url 'update' view.id %}"><button class="btn btn-primary">Update</button></a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{view.id}}">
            Delete
        </button>
    </div>

    <div class="modal fade" id="deleteModal{{ view.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-danger" id="deleteModalLabel">Delete inventory</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This will permanently delete the data.
                </div>
                <div class="modal-footer">
                    <form method="POST" action="{% url 'delete_inventory' view.id %}">
                        {% csrf_token %}
                        Are you sure you want to continue?
                        <input class="btn btn-danger" type="submit" value="Yes" />
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}