.form{
    padding: 20px;
}
.form-row{
    display: flex;
    gap: 10vh;
}
.left-col{
    width: 60%;
}
.right-col{
    border-radius: 10px;
    background-color: #F1EFEF;
    padding: 5vh;
}
.label{
    font-size: 20px;
    font-weight: bold;
}
.btn-set{
    padding: 10px;
}

.details{
    font-size: 20px;
    text-align: justify;
}